//
   Created by liangjingyue on 11/10/16.

extends new_index

block main_content
   - var list_found = list;
   - var startpoint = start;
   - var cate2 = cate;
   - var total = counts;
   - console.log(total);
   - var endpoint = startpoint + 19;
   - if(endpoint>total)
      - endpoint = total
   - var  category  = (""+cate2).replace(/ /g,'_');
   - var scale = ' '+startpoint+' - '+ endpoint+' of ' + total;
   - var ratinghelf = 'list?category='+category+'&sort=1&start=1';
   - var installshelf = 'list?category='+category+'&sort=2&start=1';
   - var avgratinghelf = 'list?category='+category+'&sort=3&start=1';
   - var firsthelf =  'list?category='+category+'&sort='+sort+'&start=1';
   - console.log(firsthelf)
   - var laststart = total-total%20+1;
   - var lasthelf =   'list?category='+category+'&sort='+sort+'&start='+laststart;
   - var previoushelf = 'list?category='+category+'&sort='+sort+'&start=';
   - if(startpoint>=21)
      - previoushelf = previoushelf+(startpoint-20);
   - else
      - previoushelf = previoushelf+'1';
   - var nexthelf = 'list?category='+category+'&sort='+sort+'&start=';
   - if((startpoint+20)<total)
      - nexthelf = nexthelf+(startpoint+20);
   - else
      - nexthelf = nexthelf +lasthelf;

   h1.page-header
      | Page Heading
      small Secondary Text
   table.table.table-hover
      .table-responsive
         tbody
            tr
               th(style="text-align:center;",width="12%") Rank
               th(style="text-align:center;",width="25%") Name
               th(style="text-align:center;",width="15%") Market Icon
               th(style="text-align:center;",width="12%")
                  a(href=ratinghelf) Total rating
               th(style="text-align:center;",width="12%")
                  a(href=installshelf) Installs
               th(style="text-align:center;",width="12%") Avg rating
               th(style="text-aligh:center;",width="12%") RiskEva
            - i=startpoint-1;
            - each item in list_found
               - i=i+1;
               tr
                  td(style="text-align:center;") #{i}
                  td(style="text-align:center;")
                     a(href="/application?app="+item["package_name"]) #{item["name"]}
                  td(style="text-align:center;")
                     - var imageaddr = item["image"].replace("64","25");
                     img(src=imageaddr)
                  td(style="text-align:center;") #{item["total_rating"]}
                  td(style="text-align:center;") #{item["installs_string"]}
                  td(style="text-align:center;") #{item["average_rating"]}
                  - var floatX = Math.round(item["riskEva"]["Score"] * 100) / 100;
                  td(style="text-align:center;") #{floatX}

   small
      | #{scale}
      | &nbsp&nbsp
      a(href=firsthelf) << First
      |&nbsp&nbsp
      a(href=previoushelf)  < Previous
      |&nbsp&nbsp
      a(href=nexthelf)  Next >
      |&nbsp&nbsp
      a(href=lasthelf) Last >>

