//
   Created by liangjingyue on 11/10/16.

extends new_index

block main_content
   - var levels = ['A','B','C','D','E'];
   - var list_found = list;
   - var startpoint = start;
   - var cate2 = cate;
   - var total = counts;
   - console.log(total);
   - var endpoint = startpoint + 19;
   - if(endpoint>total)
      - endpoint = total
   - var  category  = (""+cate2).replace(/ /g,'_');
   - var scale = ' '+startpoint+' - '+ endpoint+' of ' + total;
   - var ratinghelf = 'list?category='+category+'&sort=1&start=1';
   - var installshelf = 'list?category='+category+'&sort=2&start=1';
   - var avgratinghelf = 'list?category='+category+'&sort=3&start=1';
   - var firsthelf =  'list?category='+category+'&sort='+sort+'&start=1';
   - console.log(firsthelf)
   - var laststart = total-total%20+1;
   - var lasthelf =   'list?category='+category+'&sort='+sort+'&start='+laststart;
   - var previoushelf = 'list?category='+category+'&sort='+sort+'&start=';
   - if(startpoint>=21)
      - previoushelf = previoushelf+(startpoint-20);
   - else
      - previoushelf = previoushelf+'1';
   - var nexthelf = 'list?category='+category+'&sort='+sort+'&start=';
   - if((startpoint+20)<total)
      - nexthelf = nexthelf+(startpoint+20);
   - else
      - nexthelf = nexthelf +lasthelf;

   h1.page-header
      -if( cate=="")
         | 所有类别
      -else
         | #{cate}
      small
   table.table.table-hover
      .table-responsive
         tbody
            tr
               th(style="text-align:center;",width="12%") 序号
               th(style="text-align:center;",width="28%") 名次
               th(style="text-align:center;",width="12%") 图标
               th(style="text-align:center;",width="12%")
                  a(href=ratinghelf) 总星数
               th(style="text-align:center;",width="12%")
                  a(href=installshelf) 安装数
               th(style="text-align:center;",width="12%") 平均星数
               th(style="text-aligh:center;",width="12%") RiskEva
            - i=startpoint-1;
            - each item in list_found
               - i=i+1;
               tr
                  td(style="text-align:center;") #{i}
                  td(style="text-align:center;")
                     a(href="/application?app="+item["package_name"]) #{item["name"]}
                  td(style="text-align:center;")
                     - var imageaddr = item["image"].replace("64","26");
                     img(src=imageaddr)
                  td(style="text-align:center;") #{item["total_rating"]}
                  td(style="text-align:center;") #{item["installs_string"]}
                  td(style="text-align:center;") #{item["average_rating"]}
                  - var floatX = Math.round(item["riskEva"]["Score"] * 100) / 100;
                  - var level = item["riskEva"]["SafeClass"];
                  - var result = levels[level-1]+" ( "+floatX+" )";
                  - var colorstring = "000";

                  - if(level==1){
                  -     console.log(level)
                  -     colorstring = "5cb85c"
                  - }
                  - if(level==2){
                  -     console.log(level)
                  -     colorstring = "8eb458"
                  - }
                  - if(level==3){
                  -     console.log(level)
                  -     colorstring = "bfb053"
                  - }
                  - if(level==4){
                  -     console.log(level)
                  -     colorstring = "f0ad4e"
                  - }
                  - if(level==5){
                  -     console.log(level)
                  -     colorstring = "d9534f"
                  - }
                  - var colorstyle = "color: #"+colorstring+";";

                  td(style = colorstyle)
                     strong #{result}

   small
      | #{scale}
      | &nbsp&nbsp
      a(href=firsthelf) << 首页
      |&nbsp&nbsp
      a(href=previoushelf)  < 前一页
      |&nbsp&nbsp
      a(href=nexthelf)  后一页 >
      |&nbsp&nbsp
      a(href=lasthelf) 最后一页 >>

   p

