h3 应用名
- var _name = original_name.toString().replace(".apk","");
a(href='https://play.google.com/store/apps/details?id=' + _name) original_name

- var riskEva = (JSON).parse(perms)
h3 RiskEva
p.lead RiskScore: #{riskEva['Score']}
p.lead RiskClass: #{riskEva['SafeClass']}
- var permissions = riskEva['Permissions']
- var riskCategory = riskEva['RiskCateroy']
- console.log(riskCategory)
- var dangerPerm = riskEva['Dangerous']
- var notUsedBy3 = riskEva['Not used by 3rd-party library']
h4 Permissions in Different Risk Category
- if (riskCategory['MONEY'].length > 0 || riskCategory['PRIVACY'].length > 0 || riskCategory['INTEGRITY'].length > 0)
table.table.table-responsive.table-hover(border= 1)
  thread
    tr
      th Risk Category
      th Permission
  tbody
  - if (riskCategory['MONEY'].length > 0)
    tr
      td(rowspan= riskCategory['MONEY'].length) Money
      td #{riskCategory['MONEY'][0]}
    - var i = 0;
    - while(i+1<riskCategory['MONEY'].length)
    - i=i+1;
    tr
      td #{riskCategory['MONEY'][i]}
  - if (riskCategory['PRIVACY'].length > 0)
    tr
      td(rowspan= riskCategory['PRIVACY'].length) Privacy
      td #{riskCategory['PRIVACY'][0]}
    - i = 0;
    - while(i+1<riskCategory['PRIVACY'].length)
    -i = i+1;
    tr
      td #{riskCategory['PRIVACY'][i]}
  - if (riskCategory['INTEGRITY'].length > 0)
    tr
      td(rowspan= riskCategory['INTEGRITY'].length) Integrity
      td #{riskCategory['INTEGRITY'][0]}
   - i = 0;
   - while(i+1<riskCategory['INTEGRITY'].length)
    - i=i+1;
    tr
      td #{riskCategory['INTEGRITY'][i]}
  - else
    p None
h4 Dangerous Permissions
- if(dangerPerm.length > 0)
  table.table.table-responsive.table-hover
  tbody
  - i=0
  - while( i< dangerPerm.length)
  - i=i+1;
  tr
    td #{dangerPerm[i - 1]}
- else
  p None

h4 Permissions that should not used by third-party application
- if(notUsedBy3.length > 0)
  table.table.table-responsive.table-hover
  tbody
- i=0
- while( i< notUsedBy3.length)
- i=i+1;
  tr
    td #{notUsedBy3[i - 1]}
- else
  p None

h3 包含的库
- var local_libs = JSON.parse(libs)
- var apk_result = JSON.parse()
- console.log(local_libs)
- if (local_libs.length != 0)
  table.table.table-responsive.table-hover
    thead
      tr
        th Library Name
        th Common Package Name
        th Current Package Name
        th Library Type
        th Popularity
        th Web Link
        th Permissions

    tbody
    each obj in local_libs
      tr
        td= obj['lib']
        - if (obj['pn'].length > 32) {
          td
            p.long_pn(data-toggle='tooltip' title=obj['pn'].toString().replace(/\//g,' / '))= obj['pn'].substr(0, 30) + '...'
        - }
        - else
          td= obj['pn']
        - if (obj['cpn'].length > 32) {
          td
            p.long_pn(data-toggle='tooltip' title=obj['cpn'].toString().replace(/\//g,' / '))= obj['cpn'].substr(0, 30) + '...'
        -}
        - else
          td= obj['cpn']
        td=obj['tp']
        td= obj['dn']
        td
          - var web_link = obj['ch']
          - if (web_link == undefined || web_link == "")
            p &nbsp;
          - else
            - if (web_link.substr(0, 4) != "http") { web_link = 'http://' + web_link;
              a(href= web_link target="_blank") Link
            - }
            - else
              a(href= web_link target="_blank") Link
        td
          - var detailed_information = obj['p'].toString().replace(/,/g, '    ');
          - if( detailed_information != "")
            button.pop(rel="popover" data-content=detailed_information data-original-title="Detailed Permission Info") Details
          - else
            button.pop(rel="popover" data-content="No Android Permission Used." data-original-title="Detailed Permission Info") None
- else
  p None.
h3 Time Consumed
//button.btn.btn-primary.show-raw Click to Show/Hide Raw Results
pre.raw= time_c
hr.featurette-divider
footer
  p.pull-right
    a(href = '#') Back to top
    p
    | © 2016 北京大学(天津滨海)新一代信息技术研究院. ·
    a(href = '#') Privacy
    |  ·
    a(href = '#') Terms
